<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="A clone of twitter features" />
	<title>Yellow Bird Signup</title>

	<meta name="theme-color" content="#7952b3" />

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
</head>

<body class="bg-light">
	<div class="container">
		<main>
			<div class="py-5 text-center">
				<h2>Signup form</h2>
				<br />
				<p class="lead">
					Below is an signup form for Yellow bird. Each required signup
					inorder to use Yellow bird.
				</p>
			</div>

			<div class="col-md col-lg">
				<form class="needs-validation" novalidate method="POST">
					{% csrf_token %}
					<div class="row g-3">
						{% for field in form %}
						<div class="col-12">
							<label for="firstName" class="form-label">{{ field.label }}</label>
							<input class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
								placeholder="{{ field.label }}" type="{{ field.field.widget.input_type }}" />
							{{ field.errors }}
						</div>

						{% endfor %}
					</div>
					<hr class="my-4" />
					<div class="d-grid gap-2">
						<input class="w-100 btn btn-warning btn-lg" type="submit" value="Register" />
						<a href="/accounts/login" class="w-WarningWarning200 btn btn-lg btn-outline-warning">Sign In</a>
					</div>

				</form>
			</div>
		</main>

		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">&copy; Yellow bird</p>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
		integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
		integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
		crossorigin="anonymous"></script>
</body>

</html>